.titulo {
    color: var(--orange-color);
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6.4rem;
}

@media screen and (max-width: 430px) {
    .titulo {
        margin-bottom: 3.2rem;
    }
}