.sobre-nos {
    padding-block: 5.6rem;

    &__text {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
}

@media screen and (max-width: 768px) {
    .sobre-nos__text {
        font-size: 1.2rem;
        line-height: 2rem;
    }
}