.menu {
    .container-menu {
        display: flex;
        justify-content: space-between;
        padding-block: 0.8rem;
        padding-inline: 1rem;

        .logo-menu {
            height: 13rem;
            width: 18.6rem; 
        }

        .container-menu-right {
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            gap: 4rem;

            .container-icons {
                display: flex;
                gap: 3.2rem;
    
                .nav-icons {
                    height: 3.2rem;
                    transition: transform 0.5s;
                    width: 3.2rem;
    
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            .email {
                color: #000;
                font-size: 1.2rem;
                transition: transform 0.5s;
                text-decoration: none;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }       
    }
}

.navbar {
    background-color: #000;
    padding-inline: 1rem;
    width: 100%;

    nav {
        align-items: center;
        display: flex;
        height: 3.2rem;
        justify-content: flex-end;
        gap: 1.6rem;
        
        a {
            color: #fff;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                color: var(--orange-color);
                transition: color 0.25s;
            }
        }

        a.active {
            color: var(--orange-color);
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar nav {
        height: 2.8rem;

        a {
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-width: 430px) {
    .menu {
        .container-menu {
            padding-block: 2rem;

                .logo-menu {
                    height: 8rem;
                    width: 13.6rem; 
                }

                .container-menu-right {
                    justify-content: space-around;
                    gap: 2rem;

                    .container-icons {
                        gap: 2rem;
                    }
                }
        }
    }

    .navbar nav {
        height: 4rem;
        justify-content: center;
        gap: 6.4rem;

        a {
            font-size: 1.1rem;
        }
    }
}