.hero {
    position: relative;
    display: flex;
    height: 46.5rem;

    .hero__container {
        margin-inline: 20%;

        .hero__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.6rem;
            height: 100%;
            width: 68rem;
            z-index: 1000;
    
            h1 {
                color: var(--orange-color);
                font-weight: bold;
                font-size: 3.2rem;
                text-transform: uppercase;
            }
    
            p {
                font-size: 1.6rem;
                line-height: 2.2rem;
            }
        }
    }

    

    .hero__background-img {
        position: absolute;
        right: 0;
        height: 46.5rem;
        width: 66rem;
        z-index: -100;
    }
}

@media screen and (max-width: 1400px) {
    .hero .hero__background-img {
        mask-image: linear-gradient(270deg, rgba(0, 0, 0, 1), transparent 55%);
    }
}

@media screen and (max-width: 1200px) {
    .hero .hero__container {
        margin-inline: 10%;

        .hero__text {
            width: 60rem;
        }
    }
}

@media screen and (max-width: 1000px) {
    .hero {
        .hero__container .hero__text {
            width: auto;
        }

        .hero__background-img {
            mask-image: linear-gradient(270deg, rgba(0, 0, 0, 0.1), transparent 98%); 
        }
    }
}


@media screen and (max-width: 768px) {
    .hero{
        padding-inline: 1rem;

        .hero__container {
            margin-inline: none;
        }

        .hero__text {
    
            p {
                font-size: 1.6rem;
                line-height: 2rem;
                width: auto;
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .hero{
        .hero__text {
            h1 {
                font-size: 2.8rem;
            }

            p {
                width: auto;
            }
        }
    }
}