.servicos-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: center;
    width: 10rem;

    img {
        height: 10rem;
        width: 10rem;
    }

    p {
        font-size: 1.6rem;
        text-align: center;
    }
}