.portfolio {
    padding-bottom: 6.4rem;

    .buttons {
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 8rem;
        margin-block: 8rem;
    }
    
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 2.4rem;
        place-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .portfolio .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .portfolio .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1.6rem;
    }
}

@media screen and (max-width: 430px) {
    .portfolio {
        .buttons {
            margin-block: 4.8rem;
        }

        .cards {
            grid-template-columns: 1fr 1fr;
            gap: 5.2rem 3.2rem;
        }
    }
}