.servicos {
    background-color: #F8F8F8;
    height: 36rem;
    padding-block: 5.6rem;

    h2 {
        color: var(--orange-color);
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 6.4rem;
    }

    .servicos__cards-container {
        justify-content: center;
        display: flex;
        gap: 6.4rem;
    }
}