.servicos {
    background-color: #fafafa;
    height: auto;
    padding-block: 5.6rem;

    .servicos__cards-container {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        gap: 6.4rem;
    }
}

@media screen and (max-width: 768px) {
    .servicos .servicos__cards-container {
        gap: 4.8rem;
    }
}

@media screen and (max-width: 430px) {
    .servicos {
        height: 100%;
    
        .servicos__cards-container {
            gap: 3.2rem 5.2rem;
        }
    }
}