.servicos {
    background-color: #F8F8F8;
    height: 36rem;
    padding-block: 5.6rem;

    .servicos__cards-container {
        justify-content: center;
        display: flex;
        gap: 6.4rem;
    }
}