@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@100;300;500;700&display=swap');

* {
    box-sizing: border-box;
    --orange-color: #F17E00;
  }
  
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}
  
.container {
    margin-inline: auto;
    width: 113.6rem;
}

@media screen and (max-width: 1024px) {
    .container {
        width: 97.6rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 72rem;
    }
}

@media screen and (max-width: 430px) {
    .container {
        width: 32.8rem;
    }
}