@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Roboto:wght@100;300;500;700&display=swap');

* {
    box-sizing: border-box;
    --orange-color: #F17E00;
  }
  
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}
  
.container {
    margin-inline: auto;
    width: 113.6rem;
}